:root {
  --box-shadow-color: rgba(77, 77, 77, 0.65);
  --delete-btn-color: rgba(0, 0, 0, 0.63);
  --edit-btn-color: rgba(112, 112, 116, 0.856);
  --primary-color: rgba(255, 255, 255, 0.548);
  --secondary-color: rgba(212, 212, 212, 0.493);
  --priority: rgba(245, 94, 7, 0.637);
  --background-color: rgba(146, 146, 146, 0.363);
}

body {
  font-family: "Lora", serif !important;
  color: rgba(61, 61, 61, 0.719) !important;
  word-wrap: break-word;
}

#main-section {
  height: 35vw;
  z-index: 0;
  position: relative;
}

#task-editor-wrap {
  position: absolute;
  width: 33vw;
  height: 34vw;
  right: 0;
  top: 6vw;
  left: 0;
  z-index: 1001;
  margin-right: auto;
  margin-left: auto;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

#task-editor {
  position: relative;
  box-shadow: 0 0 5px 1px;
  background: #666;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

#Wrapper {
  background: var(--background-color);
  height: 100vh;
}

.priority {
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.4rem;
  margin-left: 0.3rem;
  border-radius: 1rem;
  text-align: center;
  background: var(--priority);
}

.task-editor-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s, transform 0s ease 0.3s;
}

.project-title,
.task-title {
  border-bottom: solid 1px rgb(189, 189, 189);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  transition: all 0.15s linear;
}

.taskinfo {
  font-weight: 600;
}

.selector {
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.4rem;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: all 0.15s linear;
  font-weight: 600;

  max-width: 65%;
}

.delete-btn-wrap {
  display: flex;
  align-items: center;
  flex: 0 0 28%;
  max-width: 28%;
  max-height: 10%;
  margin-right: 0.5rem;
}

.delete-btn {
  background: var(--delete-btn-color);
  padding: 0.1rem 0.8rem;
  border-radius: 10rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.15s linear;
  color: rgba(255, 255, 255, 0.884);
}

.delete-btn:hover,
.selector:hover {
  transform: scale(1.05, 1.05);
  font-weight: 600;
}

.td-navbar {
  background: var(--secondary-color);
  z-index: 3;
  border-bottom: 1px solid rgba(112, 112, 112, 0.342);
}

.edit-add-btn {
  background: var(--edit-btn-color);
  color: rgb(221, 221, 221);
}

.projects-list {
  -webkit-box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  -moz-box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  background: var(--primary-color);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--secondary-color);
}

.task-container {
  -webkit-box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  -moz-box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  box-shadow: 0px 17px 38px 2px var(--box-shadow-color);
  background: var(--primary-color);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--secondary-color);
}

.todo-calendar {
  position: absolute;
  top: 25%;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  z-index: 500;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.todo-hidden {
  opacity: 0 !important;
  visibility: hidden;
}

.todo-visible {
  opacity: 1 !important;
}

#form-group {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.form-btn {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  border: 1px solid rgba(78, 78, 78, 0.71);
  flex: 0 0 18%;
  max-width: 45px;
  font-size: 1em;
  text-align: center;
  margin-left: 0.5em;
  background: var(--primary-color);
  box-shadow: 0px 0px 3px 2px var(--secondary-color);
}

.form-btn:hover {
  box-shadow: 0px 0px 3px 2px rgba(206, 206, 206, 0.71);
  border: 1px solid rgba(247, 247, 247, 0.582);
  background: rgb(75, 75, 75);
  color: white;
}

.form-btn:focus {
  outline: 0;
}

.form-input-lg {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  border: 1px solid rgba(78, 78, 78, 0.418);
  flex: 0 0 82%;
  max-width: 82%;
  padding: 8px 10px;
  background: var(--primary-color);
  box-shadow: 0px 0px 3px 2px var(--secondary-color);
}

.form-input-lg:focus {
  box-shadow: 0px 0px 3px 2px rgba(206, 206, 206, 0.71);
  border: 1px solid rgba(247, 247, 247, 0.582);
  outline: 0;
}

.rc-time-picker-clear {
  display: none !important;
}

/* Customize the label (the container) */
.check-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-wrap:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-wrap input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
}

/* Show the checkmark when checked */
.check-wrap input:checked ~ .checkmark:after {
  visibility: visible;
}

/* Style the checkmark/indicator */
.check-wrap .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
